<div class="wrapper">
  <h1 class="heading">Firestarter Rules</h1>
  <p class="disclaimer">By playing on Firestarter's servers, you agree to follow these rules. Failure to comply will result in a suspension from both the Firestarter Minecraft Realms and the Firestarter Discord server. </p>

  <ol class="policy">
    <li>Respect everyone and be ethical. Don't bully others and/or use racial slurs. Cursing is allowed, as long as it is not directed towards any particular person.</li>
    <li>Don't spam the chat (fancy text and repeated phrases count as spam). Command spam is also strictly disallowed.</li>
    <li>Don't grief, whether the land is claimed or not. Taking items from unclaimed chests (referred to as "raiding"), is allowed. Lava casts count as griefing.</li>
    <li>Don't advertise other servers or websites. Posting malicious links is a bannable offense.</li>
    <li>Don't make traps (including TP traps). Bypassing the PvP toggle system is not allowed.</li>
    <li>Don't use modified/hacked clients. Cheating of any form is highly bannable. Mods such as OptiFine and certain minimaps (JourneyMap, Xaero's, and Voxelmap) are allowed.</li>
    <li>Don't use alternate accounts on the server. On top of that, we prohibit use of other accounts to claim extra event rewards. You must also now share your account with others.</li>
    <li>Claims must be no closer than 100 blocks apart, unless they are your own claims.</li>
    <li>Don't build lag machines or anything that majorly degrades server performance. Staff may ask you to remove large builds that are causing performance issues.</li>
    <li>Whatever the staff says is what you follow.</li>
    <li>And most importantly, use common sense.</li>
  </ol>

  <p class="disclaimer">Failure to comply will result in a suspension, the length of which is chosen by our staff on a case-by-case basis. Most offenses, such as griefing, have defined ban lengths on first offense, with future offenses having longer lengths.</p>
</div>
