<div class="wrapper">
  <h1 class="heading">Privacy Policy</h1>
  <p class="disclaimer">By playing on Firestarter's servers, you agree that the following data will be collected.</p>

  <ol class="policy">
    <li>
      All IP addresses that are used to join the server are logged.
      <ul>
        <li>
          This data is used to locate alternate accounts. IP addresses are checked against proxycheck.io’s database to prevent abuse with proxies or VPNs.
        </li>
      </ul>
    </li>
    <li>All chat messages, commands, private messages, party messages, and marriage chat messages are logged.</li>
    <li>Any block actions (placing and breaking blocks) and interactions are logged.</li>
    <li>Inventory states are logged upon death, join, quit, and world change.</li>
    <li>Economy transactions (chest shops, auction house, jobs, admin shop, etc.) are logged.</li>
    <li>
      Join and leave times are logged.
      <ul>
        <li>This data is used to track playtimes.</li>
      </ul>
    </li>
  </ol>

  <p class="disclaimer">Our payment processor for store transactions, Tebex, collects additional data. Please read their privacy policy.</p>
</div>
