<div class="wrapper">
  <h1 class="heading">The Staff Team</h1>
  <p class="propaganda">Hey! We're the Firestarter staff, and we're here to help give you the best experience on our
    community server.
    We all work closely together, focusing on you, the players! If you have any issues/inquiries, reach out to any
    one of our applicable staff members!</p>

  <div class="section-badge badge-admin ">🔥 Admins</div>
  <div class="section">
    <div class="member">
      <img class="head" src="https://visage.surgeplay.com/bust/358208f8-a671-41ed-abfa-4aa7371643fe">
      <h1 class="name">EatingLongFruit</h1>
      <h4 class="quote">"hi im fruit and im a bad admin."</h4>
    </div>
    <div class="member">
      <img class="head" src="https://visage.surgeplay.com/bust/facb6ce6-338c-4bad-981d-e3b24b3453f6">
      <h1 class="name">TechToolbox</h1>
      <h4 class="quote">"hi i'm tech and i exist. i also run the server."</h4>
    </div>
  </div>

  <div class="section-badge badge-mod ">🔨 Mods</div>
  <div class="section">
    <div class="member">
      <img class="head" src="https://visage.surgeplay.com/bust/e4ae86d8-8040-4e76-a3b3-ba0fba1caf69">
      <h1 class="name">Cuetsu</h1>
      <h4 class="quote">"Twisted, pay me my 5mil"</h4>
    </div>
    <div class="member">
      <img class="head" src="https://visage.surgeplay.com/bust/9b6edc28-2ca3-4ede-82b6-777116812905">
      <h1 class="name">iriscow</h1>
      <h4 class="quote">"milk"</h4>
    </div>
    <div class="member">
      <img class="head" src="https://visage.surgeplay.com/bust/375cd155-01a0-4382-8e25-0d6a6e62d1b6">
      <h1 class="name">Meorah</h1>
      <h4 class="quote">"meow"</h4>
    </div>
    <div class="member">
      <img class="head" src="https://visage.surgeplay.com/bust/a9f951eb-e2e9-4c01-aab0-0a94190223e9">
      <h1 class="name">Sleighter</h1>
      <h4 class="quote">"a stray bullet finds a nut twice a day"</h4>
    </div>
    <div class="member">
      <img class="head" src="https://visage.surgeplay.com/bust/ea416375-37d0-4344-b1ea-f6acb370d21b">
      <h1 class="name">Th3SkullR34p3r</h1>
      <h4 class="quote">"ask meorah to mine with you"</h4>
    </div>
    <div class="member">
      <img class="head" src="https://visage.surgeplay.com/bust/15516435-294a-4c9e-a7a2-fffbf41be51d">
      <h1 class="name">unordinarytaco</h1>
      <h4 class="quote">"i fell off a microwave as a child"</h4>
    </div>
  </div>
</div>
