<div class="row">
  <div class="col-xl-9">
    <h1 class="content-header">Announcements</h1>
    <div class="post" *ngFor="let post of posts | async">
      <h2 class="title">{{post.title}}</h2>
      <img src="{{post.banner}}}" class="post-banner" alt="Banner">
      <markdown [data]="post.content" class="post-content" ngPreserveWhitespaces></markdown>
    </div>
  </div>
  <div class="col-xl-3 sidebar">
    <div class="sidebar-card-combo">
      <h5 class="sidebar-online">🌠 {{ onlineCounts.server }} players online</h5>
      <div class="discord-sidebar">
        <a href="https://discord.gg/yzj9HrF" data-toggle="tooltip" data-placement="top" title="Click to join the Discord">
          <img class="discord-logo" src="https://discordapp.com/assets/35d75407bd75d70e84e945c9f879bab8.svg">
          <p class="discord-online">{{ onlineCounts.discord }} online</p>
        </a>
      </div>
    </div>
    <div class="voter-card sidebar-card">
      <img class="voter-bust" src="https://visage.surgeplay.com/bust/{{ topVoter.uuid }}" alt="Top Voter">
      <div class="voter-content">
        <p class="voter-name">{{ topVoter.name }}</p>
        <p class="voter-votes"><span class="voter-votes-inner">{{ topVoter.votes }} votes</span></p>
      </div>
    </div>
  </div>
</div>
